@charset "UTF-8";

body {
  background-color: rgb(255, 255, 255);
}

.details{
}

#meet .inner{
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

#meet h1{
  font-size: 150%;
  font-family: serif;
  padding: 1%;
}

#meet h2{
  font-size: 150%;
  font-family: serif;
  padding: 1%;
}

#meet h3{
  font-size: 150%;
  font-family: serif;
  padding: 1%;
}

.details li{
  padding: 0.5%;
  font-family: 'Franklin Gothic Medium';
}
